<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invitation</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Aldrich&family=Allura&family=Charm:wght@400;700&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page-container">
      <img class="container-bg" src="/images/container-bg.png" />
      <div class="invitation-container">
        <div class="blessing-container">
          <div class="separator">||</div>
          <div class="mantra">શ્રી ઉમિયા માતાય નમઃ</div>
          <div class="separator">||</div>
          <div class="mantra">શ્રી ગણેશાય નમઃ</div>
          <div class="separator">||</div>
          <div class="mantra">શ્રી જોગણી માતાય નમઃ</div>
          <div class="separator">||</div>
          <div class="mantra">શ્રી સ્વામિનારાયણ નમઃ</div>
          <div class="separator">||</div>
        </div>
        <div class="normal-text">
          Iniviting <span><%= name %></span> And Family To Celebrate
        </div>
        <div class="title-text">Baby Shower</div>
        <div class="normal-text">..... Honoring Parent To Be .....</div>
        <div class="subtitle-text">&nbsp; Priyanka & Prince &nbsp;</div>
      </div>
      <div class="venue-container">
        <div class="date-time">
          <div class="dayname">Sunday</div>
          <div class="date">
            <div class="month">JUNE</div>
            <div class="day">23</div>
            <div class="year">2024</div>
          </div>
          <div class="time-wrapper">
            <div>
              <div class="normal-label">Baby Shower</div>
              <div class="time">8:00 AM</div>
            </div>
            <div>
              <div class="normal-label">Lunch</div>
              <div class="time">11:00 AM</div>
            </div>
          </div>
        </div>
        <div class="inviter-wrapper">
          <div class="normal-label text-center">Inviter</div>
          <div class="d-flex">
            <div class="inviter-name text-right">Patel Rajeshkumar Ambalal</div>
            <div class="inviter-name">Patel Bhartiben Rajeshkumar</div>
          </div>
          <div class="d-flex">
            <div class="inviter-name text-right">Patel Earth Rajeshkumar</div>
            <div class="inviter-name">Patel Quake Rajeshkumar</div>
          </div>
        </div>
        <div class="inviter-wrapper">
          <div class="normal-label text-center">Venue</div>
          <div class="address">
            <div>B-104, The Riverside, Karai Gam Road</div>
            <div>Nana Chiloda, Near Gamthi-2</div>
            <div>Ahmedabad - 382330</div>
          </div>
        </div>

        <!-- <div class="quote">
          <div>We are so excited to celebrate the</div>
          <div>upcoming arrival of little one</div>
        </div> -->
      </div>
      <img class="footer-bg" src="/images/footer-bg.png" alt="" />
    </div>
  </body>
</html>
